/* ================ Default ================ */

*,
::before,
::after {
  box-sizing: border-box;
}

/* ================ Google Fonts ================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* ================ Primary colors ================ */
  --primary-1: #dfcee7;
  --primary-2: #bf9dcf;
  --primary-3: #9f6cb7;
  --primary-4: #7f3b9f;
  --primary-5: #5f0a87;
  --primary-6: #4c086c;
  --primary-7: #390651;
  --primary-8: #260436;
  --primary-9: #13021b;

  /* ================ Grey ================ */

  --grey-0: #f8fafc;
  --grey-1: #f1f5f9;
  --grey-2: #e2e8f0;
  --grey-3: #cbd5e1;
  --grey-4: #94a3b8;
  --grey-5: #64748b;
  --grey-6: #475569;
  --grey-7: #334155;
  --grey-8: #1e293b;
  --grey-9: #0f172a;

  /* ================ Fonts ================ */

  --mainFont: "Poppins", sans-serif;
  --smallText: 0.7rem;

  /* ================ Miscellaneous ================ */
  --borderRadius: 0.25rem;
  --textColor: var(--grey-900);
  --bgColor: var(--primary-4);
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* linear-gradient(to top left, #5f0a87, #a4508b); */
  --borderRadius: 0.5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  /* ================ Box shadow ================ */

  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* ================ Global ================ */

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bgColor);
  background: var(--grey-2);
  /* background: grey0; */
  font-family: var(--mainFont);
}

/* ================ Button ================ */

.btn {
  cursor: pointer;
  color: white;
  background: var(--primary-4);
  letter-spacing: var(--letterSpacing);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  border: transparent;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.btn:hover {
  background: var(--primary-5);
}

/* ================ Task  ================ */

.container {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  row-gap: 0;
  grid-template-rows: 20rem auto;
}

.row {
  border-radius: var(--borderRadius);
  max-width: 600px;
  padding: 3rem 2rem;
  width: 100%;
  box-shadow: var(--shadow-2);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-2);
  color: var(--grey-9);
  font-weight: 400;
  font-size: 3px;
}

/* change font size for form input */
.form-input[type="text"] {
  font-size: 1rem;
  font-family: var(--mainFont);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--grey-9);
}

.alert {
  font-size: var(--smallText);
  text-transform: capitalize;
  margin: 0.5rem 0 0 0.25rem;
  visibility: hidden;
}

.alert-danger {
  color: var(--red-dark);
  visibility: visible;
}
.alert-success {
  color: var(--green-dark);
}

.submit-btn {
  margin-top: 1rem;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  color: var(--red-dark);
  opacity: 0.6;
  font-size: 1.5rem;
}

/* ================ Task Panel & Task Container  ================ */

.task-panel {
  background: var(--grey-0);
}

.task-container {
  align-self: flex-start;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 15rem;
  height: auto;
  display: grid;
  grid-template-rows: repeat(auti-fit, 4.5rem);
}

.task {
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  height: 4rem;
  background: var(--grey-0);
  box-shadow: var(--shadow-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  cursor: pointer;
  width: 100%;
  color: var(--grey-7);
  font-weight: 400;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.delete-btn:hover {
  opacity: 1;
  background: transparent;
}

.delete-btn i {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .form-control {
    display: flex;
  }
  .form-input {
    border-radius: 0;
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
  .submit-btn {
    width: 10rem;
    margin-top: 0;
    border-radius: 0;
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    font-size: 1.25rem;
  }
}

/* ================ Task Container ================ */
